/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Invert navigation bars to fill style */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
  --f7-bars-translucent-opacity: 0.9;
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
}
.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}
.navbar-large-transparent,
.navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #000;

  --r: 0;
  --g: 122;
  --b: 255;
  --progress: var(--f7-navbar-large-collapse-progress);
  --f7-bars-link-color: rgb(
    calc(var(--r) + (255 - var(--r)) * var(--progress)),
    calc(var(--g) + (255 - var(--g)) * var(--progress)),
    calc(var(--b) + (255 - var(--b)) * var(--progress))
  );
}
.theme-dark .navbar-large-transparent,
.theme-dark .navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #fff;
}

/* Your app custom styles here */
.hist-title{
    text-align:center;
    vertical-align: middle;
    line-height: 50px;
    height: 50px;
    font-weight:bold;
    font-size: larger;
  }

.container{
  width: 60%;
  height: 110px;
  margin: auto;
  box-sizing: border-box;
  line-height: 100px;
  background-color: rgb(53, 113, 182);
  position: relative;
  border-radius: 20px;
}

.trash{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 40%;
  left: 83%;
  /* background-color: rgb(26, 27, 27); */
}

.latitude-display{
  position: absolute;
  bottom: 30%;
  left: 5%;
  color: black;
  /* background-color: rgb(26, 27, 27); */
}

.longitude-display{
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: black;
}

.timeout-display{
  position: absolute;
  bottom: -10%;
  left: 5%;
  color: black;
}

.btn-delete-pos {
  width: 20%;
  height: 40%;
  position: relative;
  top: 0%;
  left: 0%;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.btn-delete-friend {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  margin-left: 30%;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}



.page-content{
  vertical-align: middle;
}

.page-content.login-screen-content.fixed-container{
  /* top: 100%; */
  height: 70%;
  margin: auto;
  padding-top:600px;

  overflow: scroll;
}

/*
.page-content.scroll{
  height: 200%;
  padding-top:60px;

} */

.vertical_center{
  position:relative;
  top:45%;
  transform:translateY(-75%);
}

.appbar-inner{
  margin-left: 15px;
}

.back{
  width:10px;
}

form {
  margin: 0 auto;
  padding: 1em;
  border: 1px solid;
  position:relative;
  top:50%;
  transform:translateY(-75%);
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
  margin-right: 15px;
}

input{
  width: 200px;
}

.center{
  margin: auto;
  display: inline-block;
}

.col{
  text-align: center;
}


.button {
  padding-left: 90px;
}

button {
  margin-left: .5em;
}

:required{
  background-color: #FF0000;
}


.demo-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.demo-card-header-pic .card-content-padding .date{
  color: #8e8e93;
}


/* clock */


.clock {
  width: 50px;
  height: 50px;
  border: 3px solid rgb(39, 36, 36);
  border-radius: 50%;
}

.wrapper {
  width: 50px;
  height: 50px;
  position: absolute;
}

.inner-1, .inner-2 {
  border-radius: 10px;
  background-color: rgb(39, 36, 36);
  position: absolute;
  top: calc(50% - (10px /2));
  left: calc(50% - (10px /2));
}

.inner-1 {
  width: 25px;
  height: 9px;
}
.inner-2 {
  width: 25px;
  height: 9px;
}

.rotate-1 {
  animation: rotate 1s linear infinite;
}
.rotate-2 {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  to { transform: rotate(360deg) }
}

.deconnexion{
  
  width: auto;
  display: inline-block;
  border: none;
}
